body {
	margin: 0;
	background: #d1d1e2;
	font-family: arial, sans-serif;
}	

#lecture {
	background-color: #096a47;
}

#tutorial {
	background-color: #b0ff00;
}

#image {
	position: fixed;
	top: 20%;
	right: 0;
	height: 700px;
	width: 50%;
	border: 2px solid black;
	background: url("campus-aerial-2017.jpg") no-repeat center;
}

.topBar {
	background-color: #204000;
}

.topBar a {
	color: #f2ffe6;
	text-decoration: none;
	text-align: center;
	padding: 15px 20px;
	font-size: 20px;
}


table {
	height: 40%;
	position: fixed;
	text-align: center;
	width: 45%;
	font-family: arial, sans-serif;
	border: 1px solid black;
	border-collapse: collapse;
}

td, th {
	border: 1px solid black;
	text-align: left;
	padding: 8px;

